#images {
  width: 75%;
  border-style: solid;
}

img {
  border-style: double;
  position: relative;
  width: 200px;
  height: 200px;
}
canvas {
  width: 50%;
  height: 50%;
  float:left;
}

#results {
  border-style: dashed;
  column-count: 4;
}
