
body {
  background-color: #aa9c6d;
}

header {
  margin: 0;
  padding-left: 10px;
  background-color: black;
  color: #aa8a6d;
  font-family: 'Barlow Condensed', sans-serif;
}


#images {
  margin-left: 10%;

}

img {
  border-style: double;
  position: relative;
  width: 200px;
  height: 200px;
}
