
body {
  background-image: url('img/abkgrnd2.jpg');
}

header {
  margin: 0;
  padding-left: 10px;
  background-color: black;
  color: #A9C400;
  font-family: 'Barlow Condensed', sans-serif;
}

#logo {

}

h3 {
position: relative;
margin-left: 28%;
font-family: 'Barlow Condensed', sans-serif;
}

#images {
  margin-left: 10%;

}

img {
  border-style: double;
  position: relative;
  width: 200px;
  height: 200px;
}

#myChart {
  margin: 10px;
  background-color: black;
}

aside {
  float: right;
  background-color: black;
  color: #A9C400;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2em;
  text-align: center;
  width: 15%;
  padding: 5px
}
